@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/* SIZING */
/* COLORS */
/* FOOD FONT */
@charset "UTF-8";
@font-face {
  font-family: "food";
  src: url("../fonts/food.eot");
  src: url("../fonts/food.eot?#iefix") format("embedded-opentype"), url("../fonts/food.ttf") format("truetype"), url("../fonts/food.svg#food") format("svg"), url("../fonts/food.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "food" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="food-"]:before,
[class*=" food-"]:before {
  font-family: "food" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.food-food:before {
  content: "a";
}
.font-heading {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.font-body {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.box-styling {
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
}
html,
body {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  height: 100%;
}
section {
  display: table;
  position: relative;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
section div.inner {
  display: table-cell;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
section#feeling {
  background-image: url('../images/backgrounds/001.jpg');
}
section#categories {
  background-image: url('../images/backgrounds/002.jpg');
}
section#venues {
  background-image: url('../images/backgrounds/003.jpg');
}
section div.loading {
  z-index: 99;
  display: table;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}
section div.loading div.inner {
  display: table-cell;
  vertical-align: middle;
}
section div.loading [data-icon] {
  display: inline-block;
  padding: 0px 20px;
  color: #ffffff;
  font-size: 80px;
  -webkit-animation: foodanimate 1.5s linear 0s infinite alternate;
  animation: foodanimate 1.5s linear 0s infinite alternate;
}
section div.loading [data-icon]:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
section div.loading [data-icon]:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
section div.loading [data-icon]:last-child {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes foodanimate {
  0% {
    color: #ffffff;
  }
  50% {
    color: #CE4C01;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes foodanimate {
  0% {
    color: #ffffff;
  }
  50% {
    color: #CE4C01;
  }
  100% {
    color: #ffffff;
  }
}
h1#title {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 0px 15px black;
}
h2#subtitle {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
  color: #ffffff;
  font-size: 24px;
  text-shadow: 0px 0px 15px black;
}
input#home-address {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0px auto;
  padding: 10px 20px;
  min-width: 400px;
  width: 80%;
  max-width: 960px;
  outline: none;
}
input#home-address::-webkit-input-placeholder {
  color: #ffffff;
}
input#home-address:-moz-placeholder {
  color: #ffffff;
}
input#home-address::-moz-placeholder {
  color: #ffffff;
}
input#home-address:-ms-input-placeholder {
  color: #ffffff;
}
input#home-address.error {
  border: 1px #ff0381 solid;
  -webkit-box-shadow: 0px 0px 10px #ff69b4;
  box-shadow: 0px 0px 10px #ff69b4;
}
input#home-address:focus {
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
}
button[id*='i-am-'] {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 50px 20px 0px;
  padding: 50px 0px;
  font-size: 50px;
  min-width: 400px;
  width: 40%;
  max-width: -webkit-calc(460px);
  max-width: calc(460px);
  cursor: pointer;
  outline: none;
}
button[id*='i-am-']:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
}
div#category-choices {
  position: relative;
  margin: 0px auto;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
  max-width: 960px;
}
div#category-choices div.choice {
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 10px;
  padding: 20px;
  min-width: 200px;
  height: 200px;
  cursor: pointer;
}
div#category-choices div.choice:hover {
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
}
div#category-choices div.choice:hover h2 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
div#category-choices div.choice div.inner {
  display: table;
  width: 100%;
  height: 100%;
}
div#category-choices div.choice h2 {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: table-cell;
  vertical-align: middle;
}
div#venue-choices {
  position: relative;
  margin: 0px auto;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
  max-width: 960px;
}
div#venue-choices div.venue {
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 10px;
  padding: 20px;
  position: relative;
  text-align: center;
  min-width: 200px;
  height: 200px;
  cursor: pointer;
}
div#venue-choices div.venue:hover {
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
}
div#venue-choices div.venue:hover h2 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
div#venue-choices div.venue div.inner {
  display: table;
  width: 100%;
  height: -webkit-calc(80%);
  height: calc(80%);
}
div#venue-choices div.venue h2 {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: table-cell;
  vertical-align: middle;
}
div#venue-choices div.venue span {
  display: block;
  padding: 8px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #32486F;
  border-radius: 0px 0px 3px 3px;
  border-top: 1px #ffffff solid;
  width: 100%;
}
