@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/* SIZING */
/* COLORS */
.font-heading {
  font: bold 20px 'Oswald', sans-serif;
}
.font-body {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px;
}
html,
body {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  background: url('../images/backgrounds/001.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
}
input#home-address {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  display: block;
  margin: 50px auto 0px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  width: 100%;
  max-width: 960px;
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
input#home-address::-webkit-input-placeholder {
  color: #ffffff;
}
input#home-address:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
input#home-address::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
input#home-address:-ms-input-placeholder {
  color: #ffffff;
}
button[id*='i-am-'] {
  font: bold 20px 'Oswald', sans-serif;
  display: inline-block;
  margin: 50px 20px 0px;
  padding: 50px 0px;
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  border: 1px #ffffff solid;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width: 400px;
  width: 40%;
  max-width: -webkit-calc(460px);
  max-width: calc(460px);
  cursor: pointer;
  outline: none;
}
