@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

/* SIZING */
@min-width: 400px;
@max-width: 960px;

/* COLORS */
@color-base: #FFF;
@color-accent: hotpink;
@color-error: hotpink;

/* FOOD FONT */
@charset "UTF-8";

@font-face {
  font-family: "food";
  src:url("../fonts/food.eot");
  src:url("../fonts/food.eot?#iefix") format("embedded-opentype"),
  url("../fonts/food.ttf") format("truetype"),
  url("../fonts/food.svg#food") format("svg"),
  url("../fonts/food.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "food" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="food-"]:before,
[class*=" food-"]:before {
  font-family: "food" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.food-food:before {
 content: "a"; 
}

.font-heading {
  font: bold 36px 'Oswald', sans-serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.font-body {
  font: 16px 'Droid Serif', serif;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.box-styling {
  background: fade(@color-base, 50%);
  color: @color-base;
  border-radius: 3px;
  border: 1px @color-base solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder {
    color: @color;
  }

  &::-moz-placeholder {
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
}

html, body {
  .font-body;

  text-align: center;
  width: 100%;
  height: 100%;
}

section {
  display: table;
  position: relative;
  background: no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;

  div.inner {
    display: table-cell;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
  }

  &#feeling {
    background-image: url('../images/backgrounds/001.jpg');
  }

  &#categories {
    background-image: url('../images/backgrounds/002.jpg');
  }

  &#venues {
    background-image: url('../images/backgrounds/003.jpg');
  }

  div.loading {
    z-index: 99;
    display: table;
    position: absolute;
    background: fade(#000, 90%);
    width: 100%;
    height: 100%;

    div.inner {
      display: table-cell;
      vertical-align: middle;
    }

    [data-icon] {
      display: inline-block;
      padding: 0px 20px;
      color: @color-base;
      font-size: 80px;
      animation: foodanimate 1.5s linear 0s infinite alternate;

      &:first-child {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:last-child {
        animation-delay: 1s;
      }

      @keyframes foodanimate {
        0% {
          color: @color-base;
        }

        50% {
          color: #CE4C01;
        }

        100% {
          color: @color-base;
        }
      }
    }
  }
}

h1#title {
  .font-heading;

  color: @color-base;
  font-size: 50px;
  text-shadow: 0px 0px 15px black;
}

h2#subtitle {
  .font-body;

  padding-bottom: 50px;
  color: @color-base;
  font-size: 24px;
  text-shadow: 0px 0px 15px black;
}

input#home-address {
  .font-body;
  .box-styling;

  display: block;
  margin: 0px auto;
  padding: 10px 20px;
  min-width: @min-width;
  width: 80%;
  max-width: @max-width;
  outline: none;

  .placeholder(@color-base);

  &.error {
    border: 1px darken(@color-error, 20%) solid;
    box-shadow: 0px 0px 10px @color-error;
  }

  &:focus {
    box-shadow: 0px 0px 10px black;
  }
}

button[id*='i-am-'] {
  .font-heading;
  .box-styling;

  display: inline-block;
  margin: 50px 20px 0px;
  padding: 50px 0px;
  font-size: 50px;
  min-width: @min-width;
  width: 40%;
  max-width: calc(@max-width/2 - 20px);
  cursor: pointer;
  outline: none;

  &:hover {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px black;
  }
}

div#category-choices {
  position: relative;
  margin: 0px auto;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
  max-width: @max-width;

  div.choice {
    .box-styling;

    display: inline-block;
    margin: 10px;
    padding: 20px;
    min-width: 200px;
    height: 200px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px black;

      h2 {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      }
    }

    div.inner {
      display: table;
      width: 100%;
      height: 100%;
    }

    h2 {
      .font-heading;

      display: table-cell;
      vertical-align: middle;
    }
  }
}

div#venue-choices {
  position: relative;
  margin: 0px auto;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
  max-width: @max-width;

  div.venue {
    .box-styling;

    display: inline-block;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    min-width: 200px;
    height: 200px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px black;

      h2 {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      }
    }

    div.inner {
      display: table;
      width: 100%;
      height: calc(100% - 20px);
    }

    h2 {
      .font-heading;

      display: table-cell;
      vertical-align: middle;
    }

    span {
      display: block;
      padding: 8px 0px;
      position: absolute;
      bottom: 0px; left: 0px;
      background: #32486F;
      border-radius: 0px 0px 3px 3px;
      border-top: 1px @color-base solid;
      width: 100%;
    }
  }
}